30，3000 filter=lfs diff=lfs merge=lfs -text
30，4000 filter=lfs diff=lfs merge=lfs -text
45，2000 filter=lfs diff=lfs merge=lfs -text
45，3000 filter=lfs diff=lfs merge=lfs -text
45，4000 filter=lfs diff=lfs merge=lfs -text
60，2000 filter=lfs diff=lfs merge=lfs -text
60，4000 filter=lfs diff=lfs merge=lfs -text
30，2000 filter=lfs diff=lfs merge=lfs -text
